<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have created the post "<%= @post.title %>"!</h1>
    <small>
      By: <%= @post.user.name %>
    </small>
    <p>
      Your post "<%= @post.title %>" have successfully created and favorited! You will receive new comments notifications for this post.
    </p>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
