<h1>All Advertisements</h1>
<% @advertisements.each do |ad| %>
  <div class="media">
    <div class="media-body">
      <div class="media-heading">
        <%= link_to ad.title, ad %>
      </div>
    </div>
  </div>
<% end %>
